/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand: #f97316;
    --vp-c-brand-light: #f97316;
    --vp-button-brand-border: #f97316;
    --vp-button-brand-hover-bg: #f97316;
    --vp-c-border: rgba(60, 60, 67, 0.29);
  }
  
  .medium-zoom-overlay {
    z-index: 20;
  }
  
  .medium-zoom-image {
    z-index: 21;
  }